.result__content {
  margin: 0 auto;       /* 中央寄せ */
  padding: 60px 15px;   /* 上下・左右の余白 */
  max-width: 1230px;    /* 最大横幅 */
}

.result_cards {
  display: flex;        /* .result_cardを横並び */
  justify-content: center;
}

.result_card {
  margin: 0 20px;
  width: 360px;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
}

.result_card__img-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.result-card__img {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
}

.result_card__body {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.result_card__city,
.result_card__time {
  margin: 0;
  font-size: 18px;
}